body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.hero-vid {
  height: 100vh;
  width: 100%;
  z-index: 10;
  object-fit: cover;
}

li a {
  color: rgb(255, 238, 144);
  text-decoration: none;
  font-size: 1.3rem;
}

.arrow-gif {
  width: 300px;
}
.overlay {
  position: absolute;
  top: 0;
  font-size: 4rem;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h1-message {
  font-weight: 800;
  font-size: 3rem;
}
.sm-title {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
}
.header-text {
  animation: slide-up-fade 3s forwards;
  position: relative;
  bottom: 550px;
  color: #ffffffe3;
  text-align: center;
  line-height: 20px;
  font-weight: 800;
  z-index: 99;
  padding: 2rem;
}
.header-subtext {
  margin-top: 0.6rem;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}

.start-btn {
  height: 60px;
  border-radius: 10px;
  width: 160px;
  font-size: 1rem;
  background-color: rgb(74, 26, 74);
  color: white;
  border: none;
}

#section-two {
  visibility: visible;
}

li {
  list-style: none;
  color: rgb(236, 232, 205);
  font-size: 1rem;
  font-weight: 100;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  text-decoration: none;
  z-index: 99;
}

.screen-card-container {
  font-size: 1rem;
  padding: 20px;
}

.card-screen {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-content: space-between;
  width: 800px;
  height: 550px;
  padding: 35px;
  border: 1px solid rgba(81, 81, 81, 0.25);
  border-radius: 20px;
  background-color: rgba(15, 14, 14, 0.806);
}

.read-btn {
  background: rgb(74, 26, 74);
}

#sb-thanks {
  background-color: rgb(251, 231, 56);
  border-radius: 10px;
  border: none;
  color: black;
  width: 150px;
  padding: 10px;
  display: flex;
  /* margin-left: 100%; */
}

h2 {
  color: rgb(225, 208, 47);
}
.move-btn {
  position: relative;
}

.h2-message {
  font-size: 3rem;
  margin-top: 20%;
  padding: 10%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

#home-btn {
  height: 60px;
  border-radius: 10px;
  width: 160px;
  font-size: 1rem;
  background-color: rgb(74, 26, 74);
  color: white;
  border: none;
  margin-left: 30%;
  font-weight: 800;
}
#review-btn:hover,
#add-bk-btn:hover,
#home-btn:hover,
.read-btn:hover,
.start-btn:hover {
  background-color: #1d5666;
}

.hide-input {
  display: none;
}

input,
textarea {
  background-color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

#add-bk-btn,
#review-btn {
  border: none;
  background-color: rgb(74, 26, 74);
}

@media only screen and (max-width: 590px) {
  .card-screen {
    text-align: center;
    margin-top: 40%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 35px;
    border: 1px solid rgba(81, 81, 81, 0.25);
    border-radius: 20px;
    background-color: rgba(15, 14, 14, 0.806);
  }

  .hero-vid {
    width: 100%;
    height: 120vh;
    z-index: 10;
    object-fit: cover;
  }
}
